@model Doctor

<h1>Update Doctor</h1>

<p>
    <a asp-controller="Doctores" asp-action="Index">Back to List</a>
</p>

<form method="post">
    <label>Id Hospital: </label>
    <input type="text" name="IdHospital" value="@Model.IdHospital" class="form-control" />
    <label>Apellido: </label>
    <input type="text" name="Apellido" value="@Model.Apellido" class="form-control" />
    <label>Especialidad: </label>
    <input type="text" name="Especialidad" value="@Model.Especialidad" class="form-control" />
    <label>Salario: </label>
    <input type="text" name="Salario" value="@Model.Salario" class="form-control" />
    <label>Id Doctor: </label>
    <input type="text" name="IdDoctor" value="@Model.IdDoctor" class="form-control" readonly/>
    <button class="btn btn-info">
        Update Doctor
    </button>
</form>